body,
html {
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #231f20;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 
Colours:
Gold #8E793E
lighter gold #Ad974f
gret #231F20
white ish #EAEAEA
black bg picture #010910



*/

.page-container {
    display: flex;
    flex-direction: column;
}
.hero-title {
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #cea82c;
}

.hero-container{
    height: 100vh;
    background-image: url("imgs/man-smoking-cigar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #231f20;
    max-width: 100vw;
    color: white;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(1, 9, 16, 80%);
    font-size: 1.3rem;
}

.nav-container {

}
.nav-links {
    padding: 0 10px;
}
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    border: 1px solid black;
    margin: auto;
    background-color: #231f20da;
    padding: 20px;
    margin-top: 30px;
}

.hero-text {
    height: auto;
    width: 300px;
}
.hero-img {
    height: 300px;
    width: 300px;
}

/* cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #111111;
    min-height: 80vh;
    
}

.card {
    width: 200px;
    height: 300px;
    border: 2px solid #cea82c;
    margin: 20px;
    padding: 10px;
    background-color: #231f20;
    text-align: center;
    border-radius: 10px;
}

.card-img {
    height: auto;
    width: 100%;
}

/* testimonial */
.testimonial-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

blockquote {
    width: 60%;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.author {
    text-align: right;
}
/* CTA */
.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background-color: #111111;
    background-image: url(imgs/Spartan-warriors.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cta-box {
    background-color: rgba(35, 31, 32, 95%);
    background-position: center;
    background-size: cover;
    display: flex;
    padding: 30px 50px;
    border: 1px solid #cea82c;
    border-radius: 10px;
    align-items: center;    
}

.cta-button {
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #cea82c;
    color: #cea82c;
    background-color: #231f20
}

.cta-text {
    max-width: 300px;
    margin: 20px;
}

.cta-text,
.cta-button {
    margin: 30px;
}
/* Footer */
.footer {
    background-color: #0f0d0d;
    text-align: center;
}